//
//  Configuration.xcconfig
//  iOSMoreTarget
//
//  Created by zainguo on 2020/5/9.
//  Copyright © 2020 zainguo. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


scheme = Debug
ProductDisplayName = Debug
BundleId = com.caixin.Debug
