<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoArchiveTest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BD7135B3DFAEAF0BCE05B0F14FEA1F2F657DAB16</string>
				<key>dateExpires</key>
				<string>2020/8/15</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD7135B3DFAEAF0BCE05B0F14FEA1F2F657DAB16</string>
						<key>dateExpires</key>
						<string>2020/8/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2D39S8YPM7</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD7135B3DFAEAF0BCE05B0F14FEA1F2F657DAB16</string>
						<key>dateExpires</key>
						<string>2020/8/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CaiXiniOS_SDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2D39S8YPM7</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD7135B3DFAEAF0BCE05B0F14FEA1F2F657DAB16</string>
						<key>dateExpires</key>
						<string>2020/8/15</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2D39S8YPM7</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2D39S8YPM7.com.caixin.dev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2D39S8YPM7</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2D39S8YPM7.com.caixin.dev</string>
				</array>
			</dict>
			<key>name</key>
			<string>AutoArchiveTest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d35b7c39-8aeb-4479-981a-c53dca0cfa48</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.caixin.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2D39S8YPM7</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
